{% extends 'base.html' %}

{% block page_title %}Django - {{ post.title|safe }}{% endblock %}

{% block main %}
  <a href="{% url 'posts' %}">Посты</a><br><br>

  <h1>{{ post.title }}</h1>
  <p>{{ post.text }}</p>

  <h3>Ваш комментарий:</h3>
  <form action="" method="post">{% csrf_token %}
    {% for field in form %}
      {% if not field.is_hidden %}
        {{ field.errors }}<br>
        {{ field.label_tag }}:<br>
      {% endif %}
      {{ field }}<br>
    {% endfor %}

    {{ form.as_ }}
    <input type="submit" value="Комментировать" />
  </form>

  <hr>

  <h3>Комментариeв: {{ post.comments_count }}</h3>
  {% if comments %}
    {% for comment in comments %}
        {{ comment.name }} - {{ comment.created_datetime }}
        <p>{{ comment.text }}</p>
        <hr>
    {% endfor %}
  {% else %}
    Пока никто не комментировал этот пост
  {% endif %}
{% endblock %}
